.container,
.container1 {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  transition: all 0.5s;
  border: 3px solid #333;
  font-size: 1.5rem;
  cursor: pointer; }

.btn-main {
  color: #333;
  background: #ffbc00; }
.btn-light {
  color: #333;
  background: #f4f4f4; }
.btn-dark {
  color: #f4f4f4;
  background: #333; }
.btn-contact {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  transition: all 0.5s;
  border: 1px solid #f4f4f444;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #333;
  border-radius: 5px;
  color: #ffbc00; }
  .btn-contact:hover {
    color: #ffbb00e5;
    background: rgba(161, 161, 161, 0.3); }

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: #ffbc00; }

.yellow-color {
  color: #ffbc00;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center; }

.text-center {
  text-align: center; }

.py-1 {
  padding: 1rem 0; }
.py-2 {
  padding: 2rem 0; }
.py-3 {
  padding: 3rem 0; }
.py-4 {
  padding: 4rem 0; }
.py-5 {
  padding: 5rem 0; }

.my-1 {
  margin: 1rem 0; }
.my-2 {
  margin: 2rem 0; }
.my-3 {
  margin: 3rem 0; }
.my-4 {
  margin: 4rem 0; }

.bg-main {
  background: #ffbc00;
  color: set-text-color(#ffbc00); }
.bg-dark {
  background: rgba(51, 51, 51, 0.3);
  color: set-text-color(#333); }
.bg-light {
  background: rgba(255, 255, 255, 0.5);
  color: set-text-color(#f4f4f4); }
.bg-mediam {
  background: rgba(204, 204, 204, 0.15);
  color: set-text-color(#ccc); }

.items {
  display: grid;
  grid-gap: 0.1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }
  .items .item {
    margin: 1rem;
    color: #f4f4f4; }
    .items .item .item-image {
      padding-bottom: 0.8rem;
      padding-top: 0.5rem;
      position: relative;
      background: #ffbc00;
      overflow: hidden; }
      .items .item .item-image img {
        padding-top: 5px;
        height: 200px; }
      .items .item .item-image .item-text-wrap {
        position: absolute;
        padding-right: 10px;
        padding-left: 10px;
        top: 40%;
        color: #001;
        font-weight: bold;
        z-index: 3;
        transform: translateX(-120%) translateY(-120%);
        transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); }
    .items .item-image::after {
      content: '';
      position: absolute;
      display: block;
      background: inherit;
      opacity: 0.8;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
      transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1); }
    .items .item-image:hover::after {
      transform: scale(2) translateX(0) translateY(0) rotate(-28deg); }
    .items .item-image:hover {
      transform: scale(1.2); }
    .items .item-image:hover .item-text-wrap {
      transform: translateX(0) translateY(0); }
    .items .item .item-text {
      border-top: 3px solid #ffbc00;
      border-bottom: 3px solid #ffbc00; }
      .items .item .item-text .item-text-category {
        display: inline-block;
        margin-top: 10px;
        height: 20px;
        width: 20px;
        background: #fff;
        border-radius: 50%; }
        .items .item .item-text .item-text-category i {
          color: #000; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body-all {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: url("../img/showcase2 - Copy.jpg") no-repeat center center/cover; }
.body-about {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: url("../img/showcase.jpg") no-repeat center center/cover; }
.body-work {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: url("../img/showcase.jpg") no-repeat center center/cover; }
  .body-work ul {
    margin-top: 1rem; }
  .body-work ul li a {
    font-size: 1.6rem;
    margin: 1rem;
    margin-top: 2rem; }
  .body-work i {
    font-size: 1.6rem;
    margin-top: 0.5rem; }

a {
  text-decoration: none;
  color: #333; }

ul {
  list-style: none; }

h2,
h3,
h4 {
  text-transform: uppercase; }

img {
  width: 100%; }

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem; }
  #main-nav ul {
    display: flex; }
  #main-nav li {
    padding: 1rem 1.5rem; }
  #main-nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s; }
    #main-nav a:hover {
      border-color: #ccc; }
    #main-nav a.current {
      border-color: #ffbc00; }

#header-home {
  height: 100vh;
  color: #fff; }
  #header-home .header-content {
    text-align: center;
    padding-top: 20vh; }
    #header-home .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }
#header-other {
  height: max-content;
  color: #fff; }
  #header-other .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-other .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }
#header-work {
  min-height: 100vh;
  color: #fff; }
  #header-work .header-content {
    text-align: center;
    padding-top: 20%; }
    #header-work .header-content h1 {
      font-size: 4rem;
      line-height: 1.2; }

#home-a {
  background-color: rgba(255, 255, 255, 0.84); }
  #home-a .section-title-line {
    background-color: #ffbc00;
    width: 100px;
    margin: 0.5rem auto; }
  #home-a .specials {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr); }
    #home-a .specials .fa {
      position: relative;
      color: #ffbc00;
      padding-bottom: 0.4rem;
      background: #333;
      padding: 1rem;
      border-radius: 50%;
      transition: all 1s; }
      #home-a .specials .fa:hover {
        color: #333;
        background: #ffbc00; }
      #home-a .specials .fa:hover .process-step {
        color: #ffbc00;
        background: #333; }
    #home-a .specials .process-step {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 10px;
      background: #ffbc00;
      color: #333;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      transition: all 1s; }

#about-a .section-title {
  color: #ffbc00; }
#about-a .section-title-line {
  background-color: #f4f4f4;
  width: 70px;
  margin: 0.4rem auto; }
#about-a .about-info {
  display: flex;
  padding: 0;
  margin: auto;
  justify-content: center; }
#about-a .bio {
  border-left: 3px solid #ffbc00;
  padding: 1.5rem;
  text-align: center;
  width: fit-content;
  max-width: 70%;
  min-height: 20vh; }
#about-b {
  color: #fff;
  max-width: 80%;
  padding: 1.5rem;
  margin: auto;
  border: #333 3px solid;
  border-radius: 10px; }
  #about-b .section-title {
    color: #ffbb00dc; }
  #about-b .progress {
    overflow: hidden;
    margin-bottom: 0.8rem;
    height: 20px;
    background: rgba(209, 208, 208, 0.1);
    border-radius: 5px; }
    #about-b .progress div {
      height: 100%;
      background: #ffbb00dc;
      text-align: center;
      color: #fff;
      border-radius: 4px; }

#contact-a {
  margin: auto;
  justify-content: center;
  align-items: center; }
  #contact-a .form {
    background-color: rgba(255, 255, 255, 0.01);
    display: inline-block;
    border: 1px solid #333;
    border-bottom: 2px solid #ffbc00;
    border-radius: 10px;
    padding: 1.5rem;
    margin-top: 0.5rem;
    min-height: 40vh;
    width: 85%; }
  #contact-a .text-fields {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    margin-bottom: 1rem; }
    #contact-a .text-fields .text-input {
      max-width: 100%;
      background-color: rgba(51, 51, 51, 0.4);
      color: rgba(255, 255, 255, 0.897); }
    #contact-a .text-fields .label-input {
      display: block;
      font-size: 1.2rem;
      text-align: left; }
  #contact-a .text-fields1 {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-bottom: 1rem; }
    #contact-a .text-fields1 .label-input {
      display: block;
      font-size: 1.2rem;
      text-align: left; }
    #contact-a .text-fields1 .text-input {
      padding: 0.8rem 1rem;
      background-color: rgba(51, 51, 51, 0.4);
      color: rgba(255, 255, 255, 0.897); }
  #contact-a .button-contact {
    max-width: 300px;
    justify-self: center; }
  #contact-a .section-title {
    color: #ffbc00; }
  #contact-a .section-title-line {
    background-color: #f4f4f4;
    width: 70px;
    margin: 0.4rem auto; }

#main-footer {
  color: #fff;
  height: 4rem; }
  #main-footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; }
    #main-footer .footer-content .social .fa {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      text-align: center;
      padding: 0.5rem; }
      #main-footer .footer-content .social .fa:hover {
        color: #ffbc00; }

#main-footer1 {
  color: #fff;
  height: 5.2rem; }
  #main-footer1 .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; }
    #main-footer1 .footer-content p {
      margin-bottom: -1rem; }
    #main-footer1 .footer-content .social .fa {
      margin-right: 1.2rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      text-align: center;
      font-size: 1.5rem;
      padding: 0.8rem;
      padding-top: 0.8rem; }
      #main-footer1 .footer-content .social .fa:hover {
        color: #ffbc00; }

.collapsible {
  background-color: rgba(238, 238, 238, 0.01);
  color: #f4f4f4;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-left: rgba(51, 51, 51, 0.3) solid 2px;
  border-right: rgba(51, 51, 51, 0.3) solid 2px;
  border-top: rgba(51, 51, 51, 0.3) solid 2px;
  border-radius: 3px;
  text-align: center;
  outline: none;
  font-size: 25px; }

/* Style the collapsible content. Note: hidden by default */
.content {
  border-left: rgba(51, 51, 51, 0.5) solid 2px;
  border-right: rgba(51, 51, 51, 0.5) solid 2px;
  border-top: rgba(51, 51, 51, 0.5) solid 2px;
  padding: 0 18px;
  display: none;
  overflow: hidden; }

.panel-default > .panel-heading {
  background-color: inherit; }

.lead1 {
  font-size: 2.2rem;
  /* font-size: 1.3rem; */
  margin-bottom: 2rem;
  text-align: center; }

@media (max-width: 300px) {
  #contact-a .form {
    width: 100%; }
    #contact-a .form .text-fields .text-input {
      font-size: 15px;
      max-width: 75%; }

  #main-nav {
    margin: auto;
    justify-content: center; }
    #main-nav li {
      padding: 1rem 0.1rem; }

  .body-all ul li a, .body-about ul li a {
    font-size: 0.9rem; }
  .body-work ul li a {
    font-size: 1.4rem;
    margin: 0.5rem;
    margin-top: 2rem; }
  .body-work i {
    font-size: 1.4rem;
    margin-top: 0.5rem; }

  #main-footer {
    height: 5rem; }
    #main-footer .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 5rem; }
      #main-footer .footer-content .social .fa {
        margin-right: 0.2rem;
        border: 2px #fff solid;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 0.3rem; }
        #main-footer .footer-content .social .fa:hover {
          color: #ffbc00; } }
@media (max-width: 400px) {
  #contact-a .form {
    width: 100%; }

  #main-nav {
    margin: auto;
    justify-content: center; }
    #main-nav li {
      padding: 1rem 1rem; } }

/*# sourceMappingURL=main.css.map */
